<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="180">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/stylesheets/careerdetail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="/javascripts/jquery-3.3.1.min.js"></script>
    <title>Show Occupation Detail</title>
</head>
<body class="w3-content">

<% include header.html%>

<div class="w3-container w3-margin-top" id="title">
    <div class="w3-padding-32 w3-xlarge w3-black">
        <i class="fa fa-home"></i>
        Career Details
    </div>
</div>
<!--career detail-->
<div class="w3-container" id="panel">
    <div class="w3-container w3-panel w3-light-grey w3-border w3-round">
        <label><strong>Username of Company:</strong></label>
        <p id="companyUserName"> <%=detail.username%></p>
    </div>

    <div class="w3-container w3-panel w3-light-grey w3-border w3-round">
        <label><strong>Name of Company:</strong></label>
        <p id="companyName"><%=detail.name%></p>
    </div>

    <div class="w3-container w3-panel w3-light-grey w3-border w3-round">
        <label><strong>Occupation:</strong></label>
        <p id="career"><%=detail.career%></p>
    </div>

    <div class="w3-container w3-panel w3-light-grey w3-border w3-round">
        <label><strong>Rate of Pay (Pounds/Year):</strong></label>
        <p><%=detail.pay%></p>
    </div>

    <div class="w3-container w3-panel w3-light-grey w3-border w3-round">
        <label><strong>Description: </strong></label>
        <p><%=detail.description%></p>
    </div>

    <div class="w3-container w3-panel w3-light-grey w3-border w3-round">
        <label><strong>Requirement:</strong></label>
        <p><%=detail.requirement%></p>
    </div>

    <div class="w3-container w3-panel w3-light-grey w3-border w3-round">
        <label><strong>City:</strong></label>
        <p><%=detail.city%></p>
    </div>

    <div class="w3-container w3-panel w3-light-grey w3-border w3-round">
        <label><strong>Address:</strong></label>
        <p><%=detail.address%></p>
    </div>

    <div class="w3-container w3-panel w3-light-grey w3-border w3-round">
        <label><strong>Email:</strong></label>
        <p><%=detail.email%></p>
    </div>

</div>
<%if(isCompany != 1){%>
<div class="w3-container" id="button">
    <button class="w3-btn w3-round-large w3-black " id="apply">Apply</button>
</div>
<%}%>
<!--comment model-->
<section id="reviewModal" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
        <header class="w3-container w3-black w3-center w3-padding-32">
        <span onclick="document.getElementById('reviewModal').style.display='none'"
              class="w3-button w3-black w3-xlarge w3-display-topright">X</span>
            <h2 class="w3-wide">Review</h2>
        </header>
        <form class="w3-container" id="comment" onsubmit="return false">
            <p><label>Share your feeling</label></p>
            <input class="w3-input w3-border" type="text" required name="content" id="content">
            <p><label>How much point will you give us</label> <b class="w3-small">(The point is no more than 5)</b></p>
            <input class="w3-input w3-border" type="number" required name="score" id="score">
            <p><label>Please input your real name</label></p>
            <input class="w3-input w3-border" type="text" required name="realName" id="realName">
            <button type="submit" class="w3-button w3-block w3-black w3-padding-16 w3-section w3-right">SUBMIT <i class="fa fa-check"></i></button>
        </form>
    </div>
</section>
<%if(isCompany != 1){%>
<!--show information about-->
<section class="w3-container w3-card" style="margin-top:64px">
    <!--show average scores-->
    <div class="w3-container  w3-center">
        <h3 style="margin-top: 48px">AVERAGE SCORE</h3>
        <br><br>
        <span class="w3-tag w3-xlarge" id="aveScore"><%=detail.score%></span>
    </div>
    <!--show comments-->
    <div class="w3-container ">
        <h3 class="w3-center" style="margin:48px">REVIEWS</h3>
        <%if(comment.length>0){
        for(var i=0;i<comment.length;i++){%>
        <div class="w3-card-4 w3-white">
            <div class="w3-container">
                <h5><a href="/users/userdetail?username=<%=comment[i].evaluators%>"><b><%=comment[i].evaluators%></b></a><span class="w3-opacity w3-right w3-small"><i class="w3-text-black">Reviewed</i> <%=comment[i].date%></span></h5>
            </div>
            <div class="w3-container">
                <p class="w3-text-red"><%=comment[i].score%></p>
                <p><%=comment[i].comments%></p>
            </div>
        </div>
        <%}}else{%>
        <p class="w3-center">There are currently no reviews.</p>
        <%}%>
        <button class="w3-btn w3-round-large w3-margin w3-black w3-right" id="evaluate">Evaluate</button>
    </div>
</section>
<%}%>
<%include footer.html%>
<script>
    $(function(){
        //apply a job
        $('#apply').click(function(){
            var username = $('#account').text();
            var career = $('#career').text();
            var companyName = $('#companyName').text();
            var date = new Date();
            var data = {'employeeAccount':username,'employerAccount':companyName,'date':date.toLocaleString(),'career':career};
            if(!username){
                alert('please login your account first!');
            }else{
                $.ajax({
                    url:'/careerdetail',
                    type:'post',
                    data:data,
                    success:function (result) {
                        //console.log(result);
                        alert('apply successfully!');
                        location.href='careerdetail?name='+companyName+'&career='+career+'';
                    },
                    error:function (err,result) {
                        // console.log(err.statusText);
                        alert("You cannot apply for the same job more than once!");
                    }
                })
            }

        })

        $('#evaluate').click(function () {
            var account= $('#account').text();
            var username = $('#companyUserName').text();
            var name=$('#companyName').text();
            var career = $('#career').text();
            var date = new Date();
            if(!account){
                alert('\'Please login to your account first!\'');
            }else{
                $('#reviewModal').css("display","block");
                $('#comment').submit(function () {
                    var realName=$('#realName').val();
                    var score = $('#score').val();
                    var content=$('#content').val();
                    var data={username:username,name:name,realName:realName,score:score,content:content,date:date.toLocaleString()};
                    $.ajax({
                        url:'comment',
                        type:'post',
                        data:data,
                        success:function (result) {
                            alert('review successfully!');
                            location.href='careerdetail?name='+name+'&career='+career+'';
                        },
                        error:function (err) {
                            alert(err);
                        }
                    })
                })
            }

        })
    })
</script>
</body>
</html>