<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="180">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="stylesheets/companyAccount.css">
    <script type="text/javascript" src="/javascripts/jquery-3.3.1.min.js"></script>

    <title>Company Account</title>
</head>
<body class="w3-content">

<%include header.ejs%>
<!--home-->
<section class="w3-container w3-padding-64">
    <h2 class="w3-center">Search Job Request</h2>
    <div class="w3-row">
        <form class="w3-padding-32" id="findCv" onsubmit="return false">
            <div class="w3-col w3-section">
                <h3 class="">what</h3>
                <span class="w3-margin-bottom">  Job title, or skills</span>
                <input class="w3-input w3-border w3-round-large w3-hover-sand w3-section" style="width: 80%" type="text" id="keyword" required name="keyword">
            </div>

            <div class="w3-col w3-section">
                <h3>where</h3>
                <span class="w3-margin-bottom">City</span>
                <input class="w3-input w3-border w3-round-large w3-hover-sand w3-section" style="width: 80%" type="text" id="address" name="address">
            </div>

            <button type="submit" class="w3-button  w3-black w3-round-large">Search</button>

        </form>
    </div>
</section>

<%include footer.ejs%>

<script>
$(function () {
    $('#findCv').submit(function () {
        var keyword = $('#keyword').val();
        var address = $('#address').val();
        location.href='/results?keywordJob='+keyword+'&address='+address+'';
    })
})

</script>
</body>
</html>