<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="180">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="stylesheets/companyAccount.css">
    <script type="text/javascript" src="/javascripts/jquery-3.3.1.min.js"></script>
    <title>Company Account</title>
</head>
<body class="w3-content">

<%include header.html%>
<!--Received applications-->
    <div class="w3-container" id="received">
        <h3 class="w3-padding-32" id="title1"><strong>Received Application</strong></h3>
        <%if(received.length > 0){
        for(var i=0;i<received.length;i++){%>
        <div class="w3-panel w3-container w3-border w3-border-gray w3-round-xlarge">
            <div class="w3-row">
                <div class="w3-col m4">
                    <p><%=received[i].date%></p>
                </div>
                <div class="w3-col m4">
                    <p><span class="InviteJob"><%=received[i].career%></span> From <span class="applicant"><%=received[i].employeeAccount%></span></p>
                </div>
                <div class="w3-col m4">
                    <p class="w3-right"><a class="checkEmployee" href="">Check Applicant</a></p>
                </div>
            </div>
        </div>
        <%}}else{%>
        <p class="w3-center">You haven't received any application</p>
        <%}%>
    </div>


<!--Public new publication model-->
<section id="publicJob" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
        <header class="w3-container w3-black w3-center w3-padding-32">
        <span onclick="document.getElementById('publicJob').style.display='none'"
              class="w3-button w3-black w3-xlarge w3-display-topright">X</span>
            <h2 class="w3-wide">Public New Job</h2>
        </header>
        <form class="w3-container w3-card-4" id="postForm" onsubmit="return false">
            <p>
                <label>Name of Company  </label> <span class="w3-large" id="companyName"><%=nameCompany%></span>
            <p>
                <label>Occupation</label>
                <input class="w3-input" type="text" name="career" id="career"></p>
            <p>
            <p>
                <label>City</label>
                <input class="w3-input" type="text" name="city" id="city"></p>
            <p>

            <p>
                <label>Rate of Pay (Pounds/Year)</label>
                <input class="w3-input" type="text" name="pay" id="pay"></p>
            <p>

                <label>Occupation description</label>
                <textarea class="w3-input" type="text" name="description" id="desc"></textarea></p>

            <p>
                <label>Occupation requirement</label>
                <textarea class="w3-input" type="text" name="requirement" id="requ"></textarea></p>

            <p><label>Job Type</label>
                <select class="w3-section w3-select w3-border" name="option" id="first" onChange="change()">
                    <option value="">Software</option>
                    <option value="">Finance</option>
                    <option value="">Biology</option>
                    <option value="">Arts</option>
                    <option value="">Literature</option>
                </select>

                <select class=" w3-select w3-border" id="second">

                </select>
            </p>

            <button type="submit" class="w3-button w3-block w3-black w3-padding-16 w3-section w3-right">SUBMIT <i class="fa fa-check"></i></button>

        </form>
    </div>
</section>

<!--Previous publication-->
<div class="w3-container" id="previous">
    <h3 class="w3-padding-32"><strong>Previous Publication</strong></h3>
    <!--public new occupation-->
    <div class="w3-container w3-center w3-margin w3-padding-32" id="new">
        <a><button class="w3-button w3-black w3-round-xlarge" id="public">Post New Occupation</button></a>
    </div>
    <%if(public.length>0){
    for(var i=0;i<public.length;i++){ %>
    <div class="w3-panel w3-container w3-border w3-border-gray w3-round-xlarge">
        <div class="w3-row">
            <div class="w3-col m4">
                <p><%=public[i].date%></p>
            </div>
            <div class="w3-col m4">
                <p>I publicized a job <span class="career w3-large"><%=public[i].career%></span></p>
            </div>
            <div class="w3-col m4">
                <p class="w3-right"><a style="cursor: pointer" class="checkPublic">Check</a> / <a style="cursor: pointer" class="delete">Delete</a> </p>
            </div>
        </div>
    </div>
    <%}}else{%>
    <p class="w3-center">You haven't public any job information.</p>
    <%}%>
</div>


<!--My invitation-->

<div class="w3-container" style="margin-top: 2%">
    <h3 class="w3-padding-32"><strong>My Invitation Records</strong></h3>
    <%if(invite.length>0){
    for(var i=0;i<invite.length;i++){ %>
    <div class="w3-panel w3-container w3-border w3-border-gray w3-round-xlarge">
        <div class="w3-row">
            <div class="w3-col m4">
                <p><%=invite[i].date%></p>
            </div>
            <div class="w3-col m4">
                <p>I invited <span class="recordCandidate"><%=invite[i].employee%></span> to interview <span class="recordJob"><%=invite[i].job%></span></p>
            </div>
            <div class="w3-col m4">
                <p class="w3-right"><a class="checkInvite" href="">Check</a> </p>
            </div>
        </div>
    </div>
    <%}}else{%>
    <p class="center">You haven't invite any people.</p>
    <%}%>
</div>




<%include footer.html%>

<script>
    function change() {
        var x = document.getElementById("first");
        var y = document.getElementById("second");
        y.options.length = 0;
        if(x.selectedIndex == 0)
        {
            y.options.add(new Option("Java Development", "0"));
            y.options.add(new Option("PHP Development", "1", false, true));
            y.options.add(new Option("Web Development", "2"));
            y.options.add(new Option("Python Development", "3"));
            y.options.add(new Option("Database Development", "4"));
            y.options.add(new Option("AI Development", "5"));
            y.options.add(new Option("None", "6"));
        }

        if(x.selectedIndex == 1)
        {
            y.options.add(new Option("Bank", "0"));
            y.options.add(new Option("Marketing", "1", false, true));
            y.options.add(new Option("Securities", "2"));
            y.options.add(new Option("Stock", "3"));
            y.options.add(new Option("Insurance", "4"));
            y.options.add(new Option("The credit", "5"));
            y.options.add(new Option("None", "6"));
        }

        if(x.selectedIndex == 2)
        {
            y.options.add(new Option("Biology engineer", "0"));
            y.options.add(new Option("Biology assistant", "1", false, true));
            y.options.add(new Option("Biology education", "2"));
            y.options.add(new Option("None", "3"));
        }

        if(x.selectedIndex == 3)
        {
            y.options.add(new Option("The fine arts", "0"));
            y.options.add(new Option("Music arts", "1", false, true));
            y.options.add(new Option("Arts education", "2"));
            y.options.add(new Option("None", "3"));
        }

        if(x.selectedIndex == 4)
        {
            y.options.add(new Option("English literature", "0"));
            y.options.add(new Option("Foreign literature", "1", false, true));  // 默认选中省会城市
            y.options.add(new Option("Literature education", "2"));
            y.options.add(new Option("None", "3"));
        }
    }
    $(function () {
        $('#public').click(function () {
            $('#publicJob').css("display","block");
        })
        
        //check publication
        $('.checkPublic').each(function (index,ele) {
            $(this).click(function () {
                var name = $('#companyAccount').text();
                var career= $('.career')[index].innerHTML;
                career=career.trim();
                name=name.trim();
                location.href='/careerdetail?name='+name+'&career='+career+'';
            })
        })

        //check employee information
        $('.checkEmployee').each(function (i,ele) {
            $(this).click(function () {
                var name = $('.applicant')[i].innerHTML;
                name=name.trim();
                $(this).attr('href','/users/userdetail?username='+name+'');
            })
        })
        $('.checkInvite').each(function (i,ele) {
            $(this).click(function () {
                var career = $('.recordJob')[i].innerHTML;
                var name = $('.recordCandidate')[i].innerHTML;
                career=career.trim();
                name=name.trim();
                $(this).attr('href',"/candidatedetail?name="+name+"&career="+career+"");
            })
        })

        //post new job
        $('#postForm').submit(function () {
            var account = $('#companyAccount').text();
            var name = $('#companyName').text();
            var career = $('#career').val();
            var city=$('#city').val();
            var pay = $('#pay').val();
            var desc=$('#desc').val();
            var requ = $('#requ').val();
            var date= new Date();
            var type=[$('#first').find("option:selected").text(),$('#second').find("option:selected").text()];
            var data = {account:account,name:name,career:career,city:city,date:date.toLocaleString(),pay:pay,detail:desc,requ:requ,type:type};

            $.ajax({
                url:'/company/companyAccount',
                type:'post',
                data:data,
                success:function (res) {
                    alert('post success');
                    location.href="/company/companyAccount?username="+account+"";
                },
                error:function (err) {
                    console.log(err);
                }

            })
        })
    })
</script>
</body>
</html>