<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="180">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/stylesheets/Mainpage.css">
    <script type="text/javascript" src="/javascripts/jquery-3.3.1.min.js"></script>
    <style type="text/css">
        a:link { text-decoration: none;}

        a:active { text-decoration:none}

        a:hover { text-decoration:underline;color: red}

    </style>
    <title>Main page</title>
</head>
<body class="w3-content">

<% include header.html%>

<div class="w3-container w3-center w3-padding-48">
    <h4 class=""><strong>Search By Different Cities</strong></h4>
</div>

<section class="w3-container w3-card" id="city">
    <div class="w3-center" id="cityHead">
        <span class="w3-tag w3-xlarge">C</span>
        <span class="w3-tag w3-xlarge">I</span>
        <span class="w3-tag w3-xlarge">T</span>
        <span class="w3-tag w3-xlarge">Y</span>
    </div>
    <div class="w3-row w3-container" id="line1">
        <div class="w3-row">
            <div class="w3-col m3 w3-center">
                <a>LONDON</a>
            </div>
            <div class="w3-col m3 w3-center">
                <a>MANCHESTER</a>
            </div>
            <div class="w3-col m3 w3-center">
                <a>EDINBURGH</a>
            </div>
            <div class="w3-col m3 w3-center">
                <a>LIVERPOOL</a>
            </div>
        </div>
    </div>

    <div class="w3-row w3-container" id="line2">
        <div class="w3-row">
            <div class="w3-col m3 w3-center">
                <a>BRIGHTON</a>
            </div>
            <div class="w3-col m3 w3-center">
                <a>GLASGOW</a>
            </div>
            <div class="w3-col m3 w3-center">
                <a>CARDIFF</a>
            </div>
            <div class="w3-col m3 w3-center">
                <a>BIRMINGHAM</a>
            </div>
        </div>
    </div>

        <div class="w3-row w3-container" id="line3">
            <div class="w3-row">
                <div class="w3-col m3 w3-center">
                    <a>NOTTINGHAM</a>
                </div>
                <div class="w3-col m3 w3-center">
                    <a>LOUGHBOROUGH</a>
                </div>
                <div class="w3-col m3 w3-center">
                    <a>LEICESTER</a>
                </div>
                <div class="w3-col m3 w3-center">
                    <a>BRISTOL</a>
                </div>
            </div>
        </div>

        <div class="w3-row w3-container" id="line4">
            <div class="w3-row">
                <div class="w3-col m3 w3-center">
                    <a>SHEFFIELD</a>
                </div>
                <div class="w3-col m3 w3-center">
                    <a>LEEDS</a>
                </div>
                <div class="w3-col m3 w3-center">
                    <a>NEWCASTLE</a>
                </div>
                <div class="w3-col m3 w3-center">
                    <a>BELFAST</a>
                </div>
            </div>
        </div>
    </section>
<div class="w3-container w3-padding-48">
    <div class="row">
        <form class="w3-padding-32" id="findCty" onsubmit="return false">
            <div class="w3-col w3-section">
                <h3>where</h3>
                <span class="w3-margin-bottom">City or postcode</span>
                <input class="w3-input w3-border w3-round-large w3-hover-sand w3-section" style="width: 80%" type="text" id="address" name="address">
                <button type="submit" class="w3-button  w3-black w3-round-large">Search</button>
            </div>
        </form>
    </div>
</div>

<div class="w3-container w3-center w3-padding-48">
    <h4 class=""><strong>Search By Different Type of Jobs</strong></h4>
</div>

<section class="w3-container w3-card" id="occupation">
    <div class="w3-center" id="occupationHead">
        <span class="w3-tag w3-xlarge">O</span>
        <span class="w3-tag w3-xlarge">C</span>
        <span class="w3-tag w3-xlarge">C</span>
        <span class="w3-tag w3-xlarge">U</span>
        <span class="w3-tag w3-xlarge">P</span>
        <span class="w3-tag w3-xlarge">A</span>
        <span class="w3-tag w3-xlarge">T</span>
        <span class="w3-tag w3-xlarge">I</span>
        <span class="w3-tag w3-xlarge">O</span>
        <span class="w3-tag w3-xlarge">N</span>
    </div>
    <div class="w3-container w3-center" id="software">
        <div class="w3-container" id="softwareHeader">
            <a><strong>SOFTWARE</strong></a>
        </div>
        <div class="w3-row w3-container" id="sline1">
            <div class="w3-row">
                <div class="w3-col m4 w3-center">
                    <a>Java Development</a>
                </div>
                <div class="w3-col m4 w3-center">
                    <a>Python Development</a>
                </div>
                <div class="w3-col m4 w3-center">
                    <a>PHP Development</a>
                </div>
            </div>
        </div>

        <div class="w3-row w3-container" id="sline2">
            <div class="w3-row">
                <div class="w3-col m4 w3-center">
                    <a>Database Development</a>
                </div>
                <div class="w3-col m4 w3-center">
                    <a>Web Development</a>
                </div>
                <div class="w3-col m4 w3-center">
                    <a>AI Development</a>
                </div>
            </div>
        </div>
    </div>

    <div class="w3-container w3-center" id="Finance">
        <div class="w3-container" id="financeHeader">
            <a><strong>FINANCE</strong></a>
        </div>
        <div class="w3-row w3-container" id="fline1">
            <div class="w3-row">
                <div class="w3-col m4 w3-center">
                    <a>Marketing</a>
                </div>
                <div class="w3-col m4 w3-center">
                    <a>Bank</a>
                </div>
                <div class="w3-col m4 w3-center">
                    <a>Securities</a>
                </div>
            </div>
        </div>
        <div class="w3-row w3-container" id="fline2">
            <div class="w3-row">
                <div class="w3-col m4 w3-center">
                    <a>Stock</a>
                </div>
                <div class="w3-col m4 w3-center">
                    <a>Insurance</a>
                </div>
                <div class="w3-col m4 w3-center">
                    <a>The credit</a>
                </div>
            </div>
        </div>
    </div>

    <div class="w3-container w3-center" id="biology">
        <div class="w3-container" id="biologyHeader">
            <a><strong>BIOLOGY</strong></a>
        </div>
        <div class="w3-row w3-container" id="bline1">
            <div class="w3-row">
                <div class="w3-col m4 w3-center">
                    <a>Biology engineer</a>
                </div>
                <div class="w3-col m4 w3-center">
                    <a>Biology assistant</a>
                </div>
                <div class="w3-col m4 w3-center">
                    <a>Biology education</a>
                </div>
            </div>
        </div>
    </div>

    <div class="w3-container w3-center" id="arts">
        <div class="w3-container" id="artsHeader">
            <a><strong>ARTS</strong></a>
        </div>
        <div class="w3-row w3-container" id="aline1">
            <div class="w3-row">
                <div class="w3-col m4 w3-center">
                    <a>The fine arts</a>
                </div>
                <div class="w3-col m4 w3-center">
                    <a>Music arts</a>
                </div>
                <div class="w3-col m4 w3-center">
                    <a>Arts education</a>
                </div>
            </div>
        </div>
    </div>
    <div class="w3-container w3-center" id="literature">
        <div class="w3-container" id="literatureHeader">
            <a><strong>LITERATURE</strong></a>
        </div>
        <div class="w3-row w3-container" id="lline1">
            <div class="w3-row">
                <div class="w3-col m4 w3-center">
                    <a>English literature</a>
                </div>
                <div class="w3-col m4 w3-center">
                    <a>Foreign literature</a>
                </div>
                <div class="w3-col m4 w3-center">
                    <a>Literature education</a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="w3-row">
    <form class="w3-padding-32" id="findJob" onsubmit="return false">
        <div class="w3-col w3-section">
            <h3 class="">what</h3>
            <span class="w3-margin-bottom">  Job title, or skills</span>
            <input class="w3-input w3-border w3-round-large w3-hover-sand w3-section" style="width: 80%" type="text" id="keyword" required name="keyword">
        </div>
        <button type="submit" class="w3-button  w3-black w3-round-large">Search</button>
    </form>
</div>

<%include footer.html%>
<script>
    $(function () {
        $('section a').click(function () {
            var text = $(this).text();
            location.href='/results?keyword='+text+'';
        })
    })

</script>

</body>
</html>