<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="180">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/Mainpage.css">
    <style type="text/css">
        body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
        body {font-size: 16px;}
        img {margin-bottom: -8px;}
        a:link { text-decoration: none;}

        a:active { text-decoration:none}

        a:hover { text-decoration:underline;color: red}

    </style>
    <title>Main page</title>
</head>
<body class="w3-content" style="max-width:1500px;">

<!-- Header with Slideshow -->
<header class="w3-display-container w3-center">
    <div class="w3-animate-opacity">
        <p style="height:1000px"></p>
        <div class="w3-display-left w3-padding w3-hide-small" style="width:35%">
            <div class="w3-black w3-opacity w3-hover-opacity-off w3-padding-large w3-round-large">
                <h1 class="w3-xlarge"><a href="login" class="w3-bar-item w3-button">Sign In</a></h1>
                <hr class="w3-opacity">
                <p><a href="home">Find Jobs</a></p>
                <p><a href="registercompany">Employers / Post Job</a></p>
            </div>
        </div>
    </div>
    <a class="w3-button w3-black w3-display-right w3-margin-right w3-round w3-hide-small w3-hover-light-grey" href="home">Go to look <i class="fa fa-angle-right"></i></a>
    <a class="w3-button w3-block w3-black w3-hide-large w3-hide-medium" href="home" >Go to look <i class="fa fa-angle-right"></i></a>
</header>

<%include footer.html%>


</body>
</html>