<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="180">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/stylesheets/Mainpage.css">
    <style type="text/css">
        a:link { text-decoration: none;}

        a:active { text-decoration:none}

        a:hover { text-decoration:underline;color: red}

    </style>
    <title>Main page</title>
</head>
<body class="w3-content">

<header class="w3-container w3-light-gray">
    <h4>Welcome To Our Website!</h4>
    <a href="login" class="w3-bar-item w3-button">Login</a>
</header>
<div class="w3-bar w3-container w3-black" id="nav">
    <a class="w3-bar-item w3-button">Home</a>


</div>
<div>
    <a href="home" class="w3-bar-item w3-button">I want to be an Employee</a>

</div>

<div>
    <a href="registercompany" class="w3-bar-item w3-button">I want to recruit Employees</a>
</div>

<%include footer.html%>


</body>
</html>