<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="180">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <script type="text/javascript" src="/javascripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/login.js"></script>

</head>
<body class="w3-content">
<div class="w3-container">
    <p class="w3-padding-32 w3-center w3-xlarge"><strong>Login to Our Website</strong></p>
</div>
<div class="w3-container">
    <div class="w3-margin w3-padding-32 w3-center w3-xlarge" id="msg"><%-msg%></div>
    <div class="w3-card" id="loginCard">
        <div class="w3-container w3-black">
            <h2>Login</h2>
        </div>
        <div>
            <form class="w3-container" onsubmit="return false">
                <p>
                    <label>Username</label>
                    <input class="w3-input w3-hover-gray w3-border w3-animate-input" type="text" id="username" name="username">
                </p>
                <p>
                    <label>Password</label>
                    <input class="w3-input w3-hover-gray w3-border w3-animate-input" type="password" id="psw1" name="password">
                </p>
                <p><button class="w3-button w3-black" type="submit" id="login">Sign in</button></p>
                <hr>
                <p class="w3-center">New to our website?</p>
                <p><button class="w3-button w3-black" type="button" id="register">Create your Website account here</button></p>
            </form>
        </div>
    </div>
</div>
<%include footer.ejs%>
</body>
</html>