<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="180">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/stylesheets/register.css">
    <script type="text/javascript" src="/javascripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/register.js"></script>
    <title><%=title%></title>
</head>

<body class="w3-content">
<%include header.ejs%>
<div class="w3-container w3-center" id="registerTitle">
    <p>Do you plan to recruit more employees? </p>
    <a class="w3-text-black" href="registercompany" id="changeRegisterType"><strong>Start by Registering as an Employer!</strong></a>
</div>

<div class="w3-container">
    <div id="msg"><%-msg%></div>
    <div class="w3-card" id="registerCard">
        <div class="w3-container w3-black">
            <h2>Register as an Employee</h2>
        </div>
        <div>
            <form class="w3-container" onsubmit="return false" id="register">
                <p>
                    <label>Username</label>
                    <input class="w3-input w3-hover-gray w3-border w3-animate-input" type="text" id="username" name="username">
                </p>
                <p>
                    <label>Password</label>
                    <input class="w3-input w3-hover-gray w3-border w3-animate-input" type="password" id="psw1" name="password">
                    <span class="w3-small">Passwords must be at least 6 characters.</span>
                </p>
                <p>
                    <label>Confirm Password</label>
                    <input class="w3-input w3-hover-gray w3-border w3-animate-input" type="password" id="psw2">
                </p>
                <div class="w3-small">
                    <span class="w3-tag">*</span>
                    Confirm Password should be consistent with Password
                </div>
                <p>
                    <label>First Name</label>
                    <input class="w3-input w3-hover-gray w3-border w3-animate-input" type="text" name="firstName">
                </p>
                <p>
                    <label>Last Name</label>
                    <input class="w3-input w3-hover-gray w3-border w3-animate-input" type="text" name="lastName">
                </p>
                <p>
                    <label>Email Address</label>
                    <input class="w3-input w3-hover-gray w3-border w3-animate-input" type="email" name="email">
                </p>
                <p>
                    <label>Phone Number</label>
                    <input class="w3-input w3-hover-gray w3-border w3-animate-input" type="text" name="tel">
                </p>
                <p>
                    <label>Degree level</label>
                    <input class="w3-input w3-hover-gray w3-border w3-animate-input" type="text" name="degreeLevel">
                </p>
                <p>
                    <label>Major</label>
                    <input class="w3-input w3-hover-gray w3-border w3-animate-input" type="text" name="major">
                </p>
                <p><button class="w3-button w3-black" type="submit">Create your Website account</button></p>
                <br>
            </form>
            <hr>
            <p class="w3-container">Already have an account? <button class="w3-button w3-black" type="button" id="login">Sign in</button></p>
        </div>

    </div>
</div>
<%include footer.ejs%>
</body>
</html>