<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="180">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/stylesheets/customerExhibition.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Employee Details</title>
</head>
<body class="w3-content">
<%include header.html%>
<div class="w3-container w3-center" id="title">
    <div class="w3-padding w3-xlarge w3-center">
        <i class="fa fa-home"></i>
        Employee Details
    </div>
</div>
<div class="w3-container" id="panel">
    <div class="w3-container w3-panel w3-light-grey w3-border w3-round">
        <label><strong>First Name:</strong></label>
        <p><%=detail.firstName%></p>
    </div>

    <div class="w3-container w3-panel w3-light-grey w3-border w3-round">
        <label><strong>Last Name: </strong></label>
        <p><%=detail.lastName%></p>
    </div>

    <div class="w3-container w3-panel w3-light-grey w3-border w3-round">
        <label><strong>Degree Level:</strong></label>
        <p><%=detail.degreeLevel%></p>
    </div>

    <div class="w3-container w3-panel w3-light-grey w3-border w3-round">
        <label><strong>Major:</strong></label>
        <p><%=detail.major%></p>
    </div>

    <div class="w3-container w3-panel w3-light-grey w3-border w3-round">
        <label><strong>Email:</strong></label>
        <p><%=detail.email%></p>
    </div>

    <div class="w3-container w3-panel w3-light-grey w3-border w3-round">
        <label><strong>Phone Number:</strong></label>
        <p><%=detail.phoneNumber%></p>
    </div>
</div>

<!--evaluation-->
<section class="w3-container w3-card w3-padding-48" style="margin-top:64px">
    <!--show average scores-->
    <div class="w3-container  w3-center">
        <h3 style="margin-top: 48px">AVERAGE SCORE</h3>
        <br><br>
        <span class="w3-tag w3-xlarge" id="aveScore"><%=detail.aveScore%></span>
    </div>
    <!--show comments-->
    <div class="w3-container ">
        <h3 class="w3-center" style="margin:48px">REVIEWS</h3>
        <%if(comment.length>0){
        for(var i=0;i<comment.length;i++){%>
        <div class="w3-card-4 w3-white w3-margin-top">
            <div class="w3-container">
                <h5><a href="/company/companydetail?username=<%=comment[i].evaluators%>"><b><%=comment[i].evaluators%></b></a><span class="w3-opacity w3-right w3-small"><i class="w3-text-black">Reviewed</i> <%=comment[i].date%></span></h5>
            </div>
            <div class="w3-container">
                <p class="w3-text-red"><%=comment[i].score%></p>
                <p><%=comment[i].comments%></p>
            </div>
        </div>
        <%}}else{%>
        <p class="w3-center">There are currently no reviews.</p>
        <%}%>
    </div>
</section>
<%include footer.html%>
</body>
</html>