<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="180">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/stylesheets/employeeAccount.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="/javascripts/jquery-3.3.1.min.js"></script>
    <title>Show Occupation Detail</title>
</head>
<body class="w3-content">

<%include header.html%>
<div class="w3-container" id="invitations">
    <h3 id="title1"><strong>Received Invitation</strong></h3>
    <div class="w3-panel w3-container w3-border w3-border-gray w3-round-xlarge">
        <div class="w3-row">
            <div class="w3-col m4">
                <p>Date</p>
            </div>
            <div class="w3-col m4">
                <p>Company Name</p>
            </div>
            <div class="w3-col m4">
                <p class="w3-right"><a href="customerExhibition.html">Check</a></p>
            </div>
        </div>

    </div>

    <div class="w3-panel w3-container w3-border w3-border-gray w3-round-xlarge">
        <div class="w3-row">
            <div class="w3-col m4">
                <p>Date</p>
            </div>
            <div class="w3-col m4">
                <p>Company Name</p>
            </div>
            <div class="w3-col m4">
                <p class="w3-right"><a href="customerExhibition.html">Check</a></p>
            </div>
        </div>

    </div>

    <div class="w3-panel w3-container w3-border w3-border-gray w3-round-xlarge">
        <div class="w3-row">
            <div class="w3-col m4">
                <p>Date</p>
            </div>
            <div class="w3-col m4">
                <p>Company Name</p>
            </div>
            <div class="w3-col m4">
                <p class="w3-right"><a href="customerExhibition.html">Check</a></p>
            </div>
        </div>

    </div>
</div>


<div class="w3-container w3-center" id="new">
    <a href="public.html"><button class="w3-button w3-black w3-round-xlarge">Public New Request</button></a>
</div>

<div class="w3-container" id="previous">
    <h3 id="title2"><strong>Previous Publication</strong></h3>

    <div class="w3-panel w3-container w3-border w3-border-gray w3-round-xlarge">
        <div class="w3-row">
            <div class="w3-col m4">
                <p>Date</p>
            </div>
            <div class="w3-col m4">
                <p>Requirement</p>
            </div>
            <div class="w3-col m4">
                <p class="w3-right"><a href="public.html">Edit</a>/<a href="">Delete</a> </p>
            </div>
        </div>
    </div>

    <div class="w3-panel w3-container w3-border w3-border-gray w3-round-xlarge">
        <div class="w3-row">
            <div class="w3-col m4">
                <p>Date</p>
            </div>
            <div class="w3-col m4">
                <p>Requirement</p>
            </div>
            <div class="w3-col m4">
                <p class="w3-right"><a href="public.html">Edit</a>/<a href="">Delete</a> </p>
            </div>
        </div>
    </div>

    <div class="w3-panel w3-container w3-border w3-border-gray w3-round-xlarge">
        <div class="w3-row">
            <div class="w3-col m4">
                <p>Date</p>
            </div>
            <div class="w3-col m4">
                <p>Requirement</p>
            </div>
            <div class="w3-col m4">
                <p class="w3-right"><a href="public.html">Edit</a>/<a href="">Delete</a> </p>
            </div>
        </div>
    </div>
</div>
<%include footer.html%>
</body>
</html>