#invitations{
    padding-top: 10%;
}

#title1{
    padding-bottom: 3%;
}

#previous{
    padding-top: 5%;
}

#title2{
    padding-top: 3%;
}

#new{
    padding-top: 5%;
}

footer{
    margin-top: 10%;
}