#title{
    margin-top: 5%;
}

#form{
    margin-top: 3%;
    padding-bottom: 5%;
}

#comment{
    margin-top: 2%;
}

#label{
    margin-top: 1%;
    margin-bottom: 1%;
}

textarea{
    margin-top: 1%;
}

#button{
    margin-top: 5%;
}

#evaluate{
    margin-bottom: 10%;
}