#loginBotton{
    margin-bottom: 30%;
}

#loginTitle{
    margin-top: 10%;
    margin-left: 37%;

}

#loginCard{
    width:50%;
    margin-left: 25%;
    margin-top: 5%;
    padding-bottom: 1%;
    margin-bottom: 20%;
}

#LB{
    margin-top: 2%;
    margin-left: 35%;
}

#inform{
    margin-top: 2%;
    margin-bottom: 2%;
}

