#head{
    margin-top:5% ;
    margin-bottom: 5%;
}

#public{
    margin-top: 2%;
    margin-bottom: 5%;

}

#form{
    margin-bottom: 5%;
}

#button{
    margin-bottom: 5%;
}

#first{
    width:30%;
}

#second{
    width:30%;
}
