#registerTitle{
    margin-top: 10%;
}

#registerCard{
    margin-top: 5%;
    margin-left: 10%;
    width:80%;
    padding-bottom: 1%;
    margin-bottom: 10%;
}

#inform{
    margin-top: 1%;
}

#submitBottom{
    margin-top: 5%;
    margin-bottom: 2%;
}
.label {
    text-align: right;
    font-weight: bold;
    width: 100px;
    color: #303030;
    font-family: "Roboto";
}

.field {
    width: 98%;
}
.slimField {
    width: 80px;
}
.wideField {
    width: 200px;
}
